// 调整侧边栏整体的上下padding
.sidebar > .sidebar-links {
  padding: 0.5rem 0!important;
}

// 调整侧边栏大标题之间的间距
.sidebar > .sidebar-links > li:not(:first-child) {
  margin-top: 0!important;
}

// 目录一行展示
.sidebar-sub-header {
  white-space: nowrap;
}

.sidebar-sub-header a.sidebar-link {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  opacity: 1!important;
  font-weight: bold;
}

.page .theme-default-content:not(.custom) {
  max-width: 80%;
}

.badge.tip {
  vertical-align: middle!important;
}