// 调整侧边栏整体的上下padding
.sidebar > .sidebar-links {
  padding: 0.5rem 0!important;
}

// 调整侧边栏大标题之间的间距
.sidebar > .sidebar-links > li:not(:first-child) {
  margin-top: 0!important;
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  opacity: 1!important;
  font-weight: bold;
}